.env
.venv/
song_examples/
*.wav
extracted.wav
music_file.wav
melspectrogram.png
Archive/
Articles/
ReportsAndPresentations/
fma_small/
fma_medium/
fma_large/
fma_metadata/
accesskeys.txt
MusicGenreWebApp.pem
ngrok-stable-linux-amd64
project_guidelines.pdf